body {
  margin: 0;
  background: #111;
  color: #fff;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.title {
  font-size: 28px;
  color: cyan;
  margin-top: 10px;
}

#gameArea {
  width: 300px;
  height: 500px;
  background: #333;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  border: 3px solid cyan;
  border-radius: 10px;
}

#playerCar {
  width: 40px;
  height: 70px;
  background: yellow;
  position: absolute;
  bottom: 10px;
  left: 130px;
  border-radius: 5px;
}

.enemyCar {
  width: 40px;
  height: 70px;
  background: red;
  position: absolute;
  border-radius: 5px;
}

#score {
  font-size: 20px;
}

#restartBtn {
  background: cyan;
  color: #111;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}